The scripts should be run in order.
<br> Currently you are on 
<br>&emsp;&emsp;resume.ipynb
<br>&emsp;&emsp;job_selection.ipynb
<br>&ensp;->&nbsp;job_vectorise.ipynb

In [15]:
from glob import glob
from bs4 import BeautifulSoup
import logging, importlib, sys, tqdm
import spacy
import pickle
import pandas as pd
from spacy.lang.en import English
from spacy.lang.en.stop_words import STOP_WORDS
from sklearn.feature_extraction.text import CountVectorizer
from _pckle import save_pickle_object, load_pickle_object
from _logging import set_logging
from _save_file import save_file

set_logging(logging)
file_selected_jobs = "pkl_df_selected_jobs.pkl"
df_jobs = load_pickle_object(file_selected_jobs)
nlp = English()

2022-12-25 23:44:45,945 | INFO : Loading pickle file from: pickle\pkl_df_selected_jobs.pkl

In [16]:
def tokenise_words(text, nlp):
    word_tokens = nlp(text)
    # converts the words in word_tokens to lower case and then checks whether
    # they are present in stop_words or not
    tokens = [w for w in word_tokens if not w.is_stop and not w.is_punct and not w.is_space]

    return tokens

In [17]:
list_body_tokens = []
list_bullet_point_tokens = []
for i, row in df_jobs.iterrows():
    body = row["Body"]
    body_tokens = tokenise_words(body, nlp)
    bullet_points = row["Bullet_Points"]
    bullet_point_tokens = tokenise_words(bullet_points, nlp)
    list_body_tokens.append(body_tokens)
    list_bullet_point_tokens.append(bullet_point_tokens)

In [18]:
def add_column(df, list, column_name):
    df_col = pd.DataFrame({column_name: list})
    return pd.concat([df, df_col], axis=1)

In [19]:
df_jobs = add_column(df_jobs, list_body_tokens, 'Body_Tokens')
df_jobs = add_column(df_jobs, list_bullet_point_tokens, 'Bullet_Point_Tokens')
df_jobs

,Id,Title,Body,Bullet_Points,Score,Body_Tokens,Bullet_Point_Tokens
0,0.0,"Data Scientist - Beavercreek, OH","Data Scientist - Beavercreek, OH \n Data Scien...",Use statistical research methods to analyze da...,0.837709,"[Data, Scientist, Beavercreek, OH, Data, Scien...","[Use, statistical, research, methods, analyze,..."
2,2.0,"Data Scientist - Newark, CA","Data Scientist - Newark, CA \n Data Scientist ...","Design, develop, document and maintain machin...",0.817375,"[Patient, Care, Assistant, PCA, Med, Surg, Fay...","[Provides, personal, care, services, accordanc..."
3,3.0,Patient Care Assistant / PCA - Med/Surg (Fayet...,Patient Care Assistant / PCA - Med/Surg (Fayet...,Provides all personal care services in accorda...,0.801329,"[Scientific, Programmer, Berkeley, Caribou, Bi...","[Demonstrated, proficiency, Python, JavaScript..."
5,5.0,"Scientific Programmer - Berkeley, CA","Scientific Programmer - Berkeley, CA \n Caribo...","Demonstrated proficiency with Python, JavaScri...",0.801278,"[Operations, Technology, Summer, 2020, Interns...","[Current, class, standing, sophomore, 30, cred..."
6,6.0,JD Digits - AI Lab Research Intern - Mountain ...,JD Digits - AI Lab Research Intern - Mountain ...,Conduct state-of-the-art research in machine l...,0.811085,"[PwC, Labs, Jr., Data, Scientist, Machine, Lea...","[Invite, provide, evidence, based, feedback, t..."
...,...,...,...,...,...,...,...
1169,NaN,NaN,NaN,NaN,NaN,"[Data, Scientist, Washington, DC, Challenge, e...","[Experience, programming, Python, R, C++Experi..."
1176,NaN,NaN,NaN,NaN,NaN,"[Data, Engineer, Pasadena, Deep, 6, AI, fast, ...","[Experience, HIPAA, complianceExperience, work..."
1179,NaN,NaN,NaN,NaN,NaN,"[Data, Scientist, Green, Bay, WI, Data, Scient...","[Develop, sufficient, understanding, business,..."
1188,NaN,NaN,NaN,NaN,NaN,"[Data, Scientist, PhD, Intern, Spring, TX, Job...","[Use, data, visualization, statistical, analys..."
1202,NaN,NaN,NaN,NaN,NaN,"[Natural, Language, Processing, Undergraduate,...","[Design, implement, experiments, test, new, hy..."